<html>
    <header>
        <title>服务协议</title>
        <meta charset="utf-8"/>
        <meta name=”viewport” content=”width=device-width, initial-scale=1″ />
    </header>
    <body>
        <div class="terms">

                <div class="title" style="text-align: center">
                    <h2>服务协议</h2>
                </div>

                <!-- CONTENT -->
                <p class="text-indent2">本协议是平台会员（以下简称“甲方”）与公司（以下简称“乙方”）就乙方提供的网络服务签订的合同。乙方一经注册成为会员，甲方同意并愿意遵守以下所有条款。</p>
                <br>
                <h3>第一条 协议范围</h3>
                <p class="text-indent2">乙方向甲方提供相关服务（以下简称本服务），甲方应完全遵守本协议及监管规则。关于服务的权利和义务，双方应遵守本协议的条款。</p>
                <br>
                <h3>第二条 服务内容</h3>
                <p class="text-indent2">乙方根据实际情况提供的内容是通过互联网在其自身的操作系统中为用户提供丰富的在线资源，包括各种信息工具、电子邮件等。除非另有明确说明，否则任何新功能改进或增强当前服务（包括新产品）的内容将无条件适用于本服务协议。乙方有权扩大其服务范围，乙方提供的服务可能会不时变更。至于收费服务，将在网上提供服务前预先通知。此类提前通知的时间将由乙方自行决定。免费服务不需要通知，除非乙方认为有必要</p>
                <br>
                <h3>第三条 用户帐号（用户帐号、密码和安全）</h3>
                    <p class="text-indent2"><span class="font-weight">1. </span>用户账号注册：用户必须同意本协议所有条款并完成注册程序。用户注册成功后，乙方会给用户一个账号和相应的密码。用户将保留自己的 ID 和密码，并应对其帐户下的活动负责</p>
                    <p class="text-indent2"><span class="font-weight">2. </span>用户账号的保护：为向甲方提供本服务，乙方不会透露甲方的姓名、地址、联系地址、电子邮箱、账号、密码或其他个人信息，除非：</p>
                        <p class="text-indent4"><span class="font-weight">2.1 </span>甲方授权乙方披露该等个人信息。</p>
                        <p class="text-indent4"><span class="font-weight">2.2 </span>有关法律或行政法规要求乙方披露甲方的个人信息。</p>
                        <p class="text-indent4"><span class="font-weight">2.3 </span>乙方为保护其知识产权和其他财产权，需要披露该等个人信息。乙方将采取商业上合理的方式保护甲方的个人信息。甲方不得将其账户和密码转让或出借给他人。乙方对他人非法使用甲方账号或密码以及因甲方疏忽保护其账号或密码而造成的后果不承担任何责任。</p>
                <br>
                <h3>第四条 甲方义务</h3>
                    <p class="text-indent2"><span class="font-weight">1. </span>甲方提供与服务相关的设备（如电脑、其他互联网相关设备）并承担费用（如电话费、上网费）。</p>
                    <p class="text-indent2"><span class="font-weight">2. </span>甲方不得以不正当或不公平的方式使用本服务或参与乙方的活动。</p>
                    <p class="text-indent2"><span class="font-weight">3. </span>甲方不得干扰乙方提供的正常服务，包括但不限于： 3.1 利用漏洞和程序错误（Bug）扰乱网站正常进行或传播漏洞或错误（Bug）；3.2 非法收集他人个人资料。</p>
                    <p class="text-indent2"><span class="font-weight">4. </span>甲方必须保护好自己的账号和密码，并承担因自身疏忽而导致的账号和密码泄露的后果。</p>
                <br>
                <h3>第五条 隐私保护</h3>
                    <p class="text-indent2"><span class="font-weight">1. </span>乙方保证不向公共领域或任何第三方泄露用户注册资料或用户在使用网络服务过程中产生的隐私内容。</p>
                    <p class="text-indent2"><span class="font-weight">2. </span>乙方保证不向公共领域或任何第三方泄露用户注册资料或用户在使用网络服务过程中产生的隐私内容。

                                                                                2、乙方可与第三方合作，为用户提供相关网络服务。在这种情况下，如果第三方同意承担与乙方同等的保护用户隐私的责任，乙方可以向第三方提供用户数据。</p>
                <br>
                <h3>第六条 有限保证和责任</h3>
                    <p class="text-indent2">乙方仅接受以下有限保修：</p>
                    <p class="text-indent2"><span class="font-weight">1. </span>乙方提供的服务与乙方官方公布的服务承诺一致；</p>
                    <p class="text-indent2"><span class="font-weight">2. </span>乙方仅以商业上合理的方式解决提供服务过程中的任何问题。此外，在适用法律允许的最大范围内，乙方不保证所提供的服务符合甲方的所有要求。乙方不承担任何责任或损害（包括但不限于人身伤害、隐私因甲方使用本服务而导致的因疏忽或任何其他原因造成的财务或其他损失而导致的任何泄露、与未能履行善意或合理注意相关的任何责任、或造成的损失）。</p>
                <br>
                <h3>第七条 用户信息存储与限制</h3>
                <p class="text-indent2">乙方有权判断用户的行为是否符合服务条款的规定。如乙方认为用户违反了服务条款的规定，有权删除用户发送的信息，甚至终止对用户的网络服务。</p>
                <br>
                <h3>第八条 服务变更、暂停或终止</h3>
                    <p class="text-indent2"><span class="font-weight">1. </span>如因系统维护或升级需要暂停网络服务，乙方将提前通知。</p>
                    <p class="text-indent2"><span class="font-weight">2. </span>乙方保留通过事先公告或通知甲方的方式单方面暂停或终止部分或全部网络服务的权利，对因暂停或通知甲方造成的任何损失，不承担甲方或任何第三方的任何责任。终止服务。</p>
                    <p class="text-indent2"><span class="font-weight">3. </span>甲方注意，如果在充值订单结算时进行退款操作（即货物已收到或使用），乙方将留下操纵甲方个人账户的记录，会对甲方个人账号造成不同程度的影响，包括但不限于限制登录、封禁等。</p>
                <br>
                <h3>第九条 收费政策</h3>
                    <p class="text-indent2">乙方有权决定和修改收费标准和方法。收费标准需要调整的，乙方将在调整生效前在相关网页上发布通知。</p>
                    <p class="text-indent2">关于收费服务，甲方应按照确认的收费政策购买服务。如甲方不这样做，乙方可立即暂停服务。</p>
                <br>
                <h3>第十条 免责声明</h3>
                    <p class="text-indent2"><span class="font-weight">1. </span>乙方不保证以下任何一项：</p>
                        <p class="text-indent4"><span class="font-weight">1.1 </span>服务将以不间断、及时、安全或无差错的方式提供。</p>
                        <p class="text-indent4"><span class="font-weight">1.2 </span>第三方非法侵害甲方权利，乙方已被告知侵权行为的，乙方应协助甲方消除或认定侵权行为。</p>
                    <p class="text-indent2"><span class="font-weight">2. </span>甲方明确同意自行承担与使用网络服务相关的一切风险。</p>
                <br>
                <h3>第十一条 损害</h3>
                    <p class="text-indent2">如甲方违反本协议或相关法律，导致乙方母公司、子公司、关联公司、关联公司、员工、代理人或其他相关支持人员承担损害或衍生费用（包括但不限于法律费用）因甲方违反本协议而向所有此类人支付的索赔、诉讼或相关和解），甲方应对此类损害承担责任。</p>
                <br>
                <h3>第十二条 协议的终止</h3>
                    <p class="text-indent2">甲方应遵守本协议及相关法律法规。如乙方发现甲方有任何违反本协议或相关法律法规的行为，乙方有权在不事先通知甲方的情况下，立即暂停、终止或删除甲方的账户及所有相关数据、文件和记录，取消、暂停或限制甲方会员资格。</p>
                <br>
                <h3>第十三条 修改和解释</h3>
                    <p class="text-indent2">甲方知悉乙方自身、用户及市场情况的不断变化，如继续使用乙方提供的服务，即视为甲方同意并接受条款的修改、增补、删减。本协议，因此无权获得任何索赔或损害赔偿。</p>
                    <p class="text-indent2">在适用的最大范围内，本公司保留对本协议的最终解释权。</p>
                <!-- CONTENT -->

            </div>
    </body>
    <style type="text/css">
        .terms{
            width: 70%;
            margin: auto;
            line-height: 20px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .terms .title {
            border-bottom: 2px solid #aa1419;
            margin: 30px 0 10px 0;
        }
        .title h2 {
            margin-bottom: 18px;
            color: #aa1419;
        }
        .text-indent4{
            text-indent: 2em;
        }
        .font-weight{
            font-weight: bolder;
        }
        @media screen and (max-width:980px ) {
            .terms{
                width: 100%;
            }
        }

    </style>
</html>